<div class="container">
  <h1>Your Property list has been deleted!</h1>

        <form action="/create/<%= @user.id%>" method="get">
          <input type="submit" value="return">
        </form>
</div>