<div class="container">
  <h2>Welcome to Air BnB</h2>

<form action="/new_session" method="post">
  <input type="text" name="user[email]" placeholder="email"><br><br>
  <input type="password" name="user[password]" placeholder="password"><br><br>
  <input type="submit" value="Log in">

</form>
</div>